body {
  color: #666666;
  font-family: 'Encode Sans SC', sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategrey;
    color: lightgray;
    text-align: center;
  }

  a {
    color: lightgray;;
    text-decoration: none;
  }

  a:hover {
    color: lightgray;;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .footer-items {
      font-size: x-small;
      margin-top: 10px;
  }
/**CONTACT PACE**/
  #contact-page {
    background-image: url(../img/eoghan-in-croke-park.jpg);
    background-color: #666666;
    background-position: center;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
  } 
  
  #contact-form {
    color: darkslategrey;
    margin: auto;
    margin-top: 150px;
  }

  .contact-form-boxed {
    border: #000000;
    border-style: solid;
    background-color: whitesmoke;
    opacity: 0.8;
    padding: 30px;
  }

  h1 {
    text-align: center;
  }