.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategrey;
    color: lightgray;
    text-align: center;
  }

  a {
    color: lightgray;;
    text-decoration: none;
  }

  a:hover {
    color: lightgray;;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .footer-items {
      font-size: x-small;
      margin-top: 10px;
  }

  #contact-page {
    background-image: url(../img/eoghan-in-croke-park.jpg);
    background-color: #666666;
    background-position: center;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
  }