.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategrey;
    color: lightgray;
    text-align: center;
  }

  a {
    color: lightgray;;
    text-decoration: none;
  }

  a:hover {
    color: lightgray;;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .footer-items {
      font-size: x-small;
      margin-top: 10px;
  }

  #contact-pg-bg {
    background-image: url(/assets/img/eoghan-sitting-in-croke-park-on-a-job.JPG);
    background-size: cover;
    background-repeat: no-repeat, repeat;
  }